<!DOCTYPE html>
<html>
<head>
  <title>Host Lobby</title>
</head>
<body>
  <h1>Host Screen</h1>
  <h2 id="join_text" style="display: none">Visit https://10.0.0.131:5000 and enter the room code below to join!</h2>
  <h2 id="room-code" style="display: none"></h2>
  <button id="create_room_button">Create Room!</button>
  <h3 id="player-list-head" style="display: none">Players Joined:</h3>
  <ul id="player-list" style="display: none"></ul>
  <h1 id= "game_started_text" style="display: none">GAME STARTED</h1>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="/static/host_script.js"></script>
  <audio id="intro1a" src="/static/sounds/intro1test.mp3"></audio>
</body>
</html>